body {
  margin: auto;
}
header {
  display: flex; 
  justify-content: space-between;
}
header img {
  width: 250px; 
  padding: 40px;
}
header div {
  font-size: 20px; 
  padding: 50px;
}
header div a {
  font-family: Arial, Helvetica, sans-serif; 
  text-decoration: none; 
  color: black;
}
.container {
  display: flex;
  flex-direction: column;
  padding: auto;
  margin-left: 25px;
  margin-top: 30px;
}
.input {
  margin: 10px;
  border-radius: 20px; 
  height: 60px;
  padding-left: 10px;
  width: 300px;
}
.username {
  
}
.password {
 
  
  
}
.button {
  border-radius: 20px; 
  width: 100px;
  padding: 10px;
  font-size: 20px;
  
}
::placeholder {
  
  font-size: 20px;
}